<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;URL='{{ target_url }}'" />
    <link rel="canonical" href="{{ target_url }}" />
    <title>Redirect: {{ original_name }} ({{ stripped_name }})</title>
  </head>
  <body>
    <p>List of supported data sources for <a href="https://registry.terraform.io/providers/hashicorp/aws/latest">hashicorp/aws</a> provider v{{ provider_version }}:</p>
    <ol>
    {% for datasource in datasources %}
      <li><a href="{{ datasource.href }}">{{ datasource.full_name }}</a></li>
    {% endfor %}
    </ol>
  </body>
</html>
