<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>hashicorp/aws</title>
    <link href="https://raw.githubusercontent.com/skyzyx/carbon-css/refs/heads/master/dist/carbon.css" rel="stylesheet">
  </head>
  <body>
    <h1>hashicorp/aws</h1>
    <p>Shorter URLs for <a href="https://registry.terraform.io/providers/hashicorp/aws/latest">hashicorp/aws</a> provider v{{ provider_version }}:</p>
    <p><small>This free redirection service is provided by Northwood Labs and is unrelated to HashiCorp.</small></p>
  </body>
</html>
