<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Resources</title>
    <link href="http://raw.githubusercontent.com/skyzyx/carbon-css/refs/heads/master/dist/carbon.css" rel="stylesheet">
  </head>
  <body>
    <p>List of supported resources for <a href="https://registry.terraform.io/providers/hashicorp/aws/latest">hashicorp/aws</a> provider v{{ provider_version }}:</p>
    <ul>
    {% for resource in resources %}
      <li><a href="{{ resource.href }}">{{ resource.full_name }}</a></li>
    {% endfor %}
    </ul>
  </body>
</html>
